<template>
  <b-container>
    <HeaderMenu :info="session.data[0]" :page="pageName"></HeaderMenu>
    <br />
    <b-card>
      <form>
        <b-row class="text-left">
          <b-col cols="12">
            <b-form-group
              label="1.ตัวท่านมีอาการเหล่านี้หรือไม่ (สามารถตอบได้หลายข้อ)"
            >
              <b-form-checkbox v-model="selected1.no1" value="มีไข้ มากกว่า 38 องศา" unchecked-value="">มีไข้ มากกว่า 38 องศา</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no2" value="ไอแห้ง" unchecked-value="">ไอแห้ง</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no3" value="อ่อนเพลีย" unchecked-value="">อ่อนเพลีย</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no4" value="ปวดเมื่อยเนื้อตัว" unchecked-value="">ปวดเมื่อยเนื้อตัว</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no5" value="เจ็บคอ" unchecked-value="">เจ็บคอ</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no6" value="ท้องเสีย" unchecked-value="">ท้องเสีย</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no7" value="ปวดศีรษะ" unchecked-value="">ปวดศีรษะ</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no8" value="ตาแดง" unchecked-value="">ตาแดง</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no9" value="สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี" unchecked-value="">สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี</b-form-checkbox>
            <b-form-checkbox v-model="selected1.no10" value="ไม่มีอาการที่กล่าวมาเบื้องต้น" unchecked-value="">ไม่มีอาการที่กล่าวมาเบื้องต้น</b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-form-group
              label="2.บุคคลภายในครอบครัวท่าน ,ผู้ใกล้ชิด ,ญาติพี่น้องของท่าน มีอาการเหล่านี้หรือไม่ (สามารถตอบได้หลายข้อ)"
            >
            <b-form-checkbox v-model="selected2.no1" value="มีไข้ มากกว่า 38 องศา" unchecked-value="">มีไข้ มากกว่า 38 องศา</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no2" value="ไอแห้ง" unchecked-value="">ไอแห้ง</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no3" value="อ่อนเพลีย" unchecked-value="">อ่อนเพลีย</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no4" value="ปวดเมื่อยเนื้อตัว" unchecked-value="">ปวดเมื่อยเนื้อตัว</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no5" value="เจ็บคอ" unchecked-value="">เจ็บคอ</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no6" value="ท้องเสีย" unchecked-value="">ท้องเสีย</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no7" value="ปวดศีรษะ" unchecked-value="">ปวดศีรษะ</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no8" value="ตาแดง" unchecked-value="">ตาแดง</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no9" value="สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี" unchecked-value="">สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี</b-form-checkbox>
            <b-form-checkbox v-model="selected2.no10" value="ไม่มีอาการที่กล่าวมาเบื้องต้น" unchecked-value="">ไม่มีอาการที่กล่าวมาเบื้องต้น</b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-form-group
              label="3.แหล่งที่พักอาศัยหรือบริเวณใกล้เคียงของท่าน มีแรงงานจากประเทศเพื่อนบ้านพักอาศัยอยู่หรือไม่"
            >
            <b-form-select v-model="selected3" :options="options3"></b-form-select>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-form-group
              label="4.ตัวท่านมีความเสี่ยง ในการรับเชื้อ COVID-19 มากน้อยเพียงใด"
            >
            <b-form-select v-model="selected4" :options="options4"></b-form-select>
            <hr>
              <b-form-input v-model="selected41" placeholder="หมายเหตุ"></b-form-input>
            </b-form-group>
          </b-col>
          <hr>
          <b-col cols="12">
            <b-button block variant="success" @click="addData()">บันทึกแบบประเมิน</b-button>
          </b-col>
        </b-row>
      </form>
    </b-card>
  </b-container>
</template>
<script>
import HeaderMenu from './HeaderMenu.vue'
import axios from 'axios' // api
export default {
  components: {
    HeaderMenu: HeaderMenu
  },
  data () {
    return {
      pageName: 'แบบประเมิน',
      session: this.$session.getAll(),
      options3: [
        { value: 'มี', text: 'มี' },
        { value: 'ไม่มี', text: 'ไม่มี' },
        { value: 'ไม่แน่ใจ', text: 'ไม่แน่ใจ' }
      ],
      options4: [
        { value: '5', text: 'มีความเสี่ยงระดับ 5  (มากที่สุด)' },
        { value: '4', text: 'มีความเสี่ยงระดับ 4  (มาก)' },
        { value: '3', text: 'มีความเสี่ยงระดับ 3  (ปานกลาง)' },
        { value: '2', text: 'มีความเสี่ยงระดับ 2  (น้อย)' },
        { value: '1', text: 'มีความเสี่ยงระดับ 1  (ค่อนข้างน้อย)' },
        { value: '0', text: 'มีความเสี่ยงระดับ 0  (ไม่มีความเสี่ยงเลย)' }
      ],
      selected1: {
        no1: '',
        no2: '',
        no3: '',
        no4: '',
        no5: '',
        no6: '',
        no7: '',
        no8: '',
        no9: '',
        no10: ''
      }, // Must be an array reference!
      selected2: {
        no1: '',
        no2: '',
        no3: '',
        no4: '',
        no5: '',
        no6: '',
        no7: '',
        no8: '',
        no9: '',
        no10: ''
      }, // Must be an array reference!
      selected3: '', // Must be an array reference!
      selected4: '', // Must be an array reference!
      selected41: '', // Must be an array reference!
      options1: [
        { text: 'มีไข้ มากกว่า 38 องศา', value: 'มีไข้ มากกว่า 38 องศา' },
        { text: 'ไอแห้ง', value: 'ไอแห้ง' },
        { text: 'อ่อนเพลีย', value: 'อ่อนเพลีย' },
        { text: 'ปวดเมื่อยเนื้อตัว', value: 'ปวดเมื่อยเนื้อตัว' },
        { text: 'เจ็บคอ', value: 'เจ็บคอ' },
        { text: 'ท้องเสีย', value: 'ท้องเสีย' },
        { text: 'ปวดศีรษะ', value: 'ปวดศีรษะ' },
        { text: 'ตาแดง', value: 'ตาแดง' },
        { text: 'สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี', value: 'สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี' },
        { text: 'ไม่มีอาการที่กล่าวมาเบื้องต้น', value: 'ไม่มีอาการที่กล่าวมาเบื้องต้น' }
      ],
      options2: [
        { text: 'มีไข้ มากกว่า 38 องศา', value: 'มีไข้ มากกว่า 38 องศา' },
        { text: 'ไอแห้ง', value: 'ไอแห้ง' },
        { text: 'อ่อนเพลีย', value: 'อ่อนเพลีย' },
        { text: 'ปวดเมื่อยเนื้อตัว', value: 'ปวดเมื่อยเนื้อตัว' },
        { text: 'เจ็บคอ', value: 'เจ็บคอ' },
        { text: 'ท้องเสีย', value: 'ท้องเสีย' },
        { text: 'ปวดศีรษะ', value: 'ปวดศีรษะ' },
        { text: 'ตาแดง', value: 'ตาแดง' },
        { text: 'สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี', value: 'สูญเสียความสามารถในการดมกลิ่นและรับรส,มีผื่นบนผิวหนัง หรือนิ้วมือนิ้วเท้าเปลี่ยนสี' },
        { text: 'ไม่มีอาการที่กล่าวมาเบื้องต้น', value: 'ไม่มีอาการที่กล่าวมาเบื้องต้น' }
      ],
      dateTime: ''
    }
  },
  async mounted () {
    // this.$session.destroy()
    this.getNow()
  },
  methods: {
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
    },
    addData () {
      if (
        this.selected1.no1 + this.selected1.no2 + this.selected1.no3 + this.selected1.no4 + this.selected1.no5 + this.selected1.no6 + this.selected1.no7 + this.selected1.no8 + this.selected1.no9 + this.selected1.no10 !== '' &&
        this.selected2.no1 + this.selected2.no2 + this.selected2.no3 + this.selected2.no4 + this.selected2.no5 + this.selected2.no6 + this.selected2.no7 + this.selected2.no8 + this.selected2.no9 + this.selected2.no10 !== '' && this.selected3.length > 0 && this.selected4.length > 0
      ) {
        this.$swal({
          title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
          text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#dedede',
          confirmButtonText: 'เพิ่มข้อมูล',
          cancelButtonText: 'ยกเลิก และตรวจสอบ!'
        }).then(result => {
          const url = `${this.$apiUrl}Timeline/Process/addData`
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt = {
            'id': this.dateTime,
            'userName': this.session.data[0].username,
            'staffName': this.session.data[0].name,
            'branchName': this.session.data[0].branch.name,
            'department': this.session.data[0].department.name,
            'no1_1': this.selected1.no1,
            'no1_2': this.selected1.no2,
            'no1_3': this.selected1.no3,
            'no1_4': this.selected1.no4,
            'no1_5': this.selected1.no5,
            'no1_6': this.selected1.no6,
            'no1_7': this.selected1.no7,
            'no1_8': this.selected1.no8,
            'no1_9': this.selected1.no9,
            'no1_10': this.selected1.no10,
            'no2_1': this.selected2.no1,
            'no2_2': this.selected2.no2,
            'no2_3': this.selected2.no3,
            'no2_4': this.selected2.no4,
            'no2_5': this.selected2.no5,
            'no2_6': this.selected2.no6,
            'no2_7': this.selected2.no7,
            'no2_8': this.selected2.no8,
            'no2_9': this.selected2.no9,
            'no2_10': this.selected2.no10,
            'no3': this.selected3,
            'no4': this.selected4
          }
          axios
            .post(url, dt, config)
            .then(response => {
              this.$swal('เรียบร้อย', response.data.message, 'success')
              this.$router.push('/Home')
            })
        })
      } else {
        this.dataReady = true
        this.$swal('ผิดพลาด', 'กรุณาใส่ข้อมูลให้ครบถ้วน', 'error')
      }
    }
  }
}
</script>
