<template>
  <div>
    <b-navbar fixed="top" variant="info" class="active text-white">
      <b-container fluid="xl" id="show-btn" @click="$bvModal.show('bv-modal-example')">
        <b-avatar :src="info.line.pictureUrl" size="3rem"></b-avatar>
        <b>{{info.name}}</b>
      </b-container>
    </b-navbar>
    <b-modal id="bv-modal-example" hide-footer>
      <b-row>
        <b-col class="text-center">
          <b-avatar :src="info.line.pictureUrl" size="5rem"></b-avatar>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center">
           <h6>{{info.name}}</h6>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-center">
          <h6>{{branchName}}</h6>
        </b-col>
      </b-row>
      <br />
      <div v-if="!dataListReady">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <hr />
      <b-row class="text-center" style="font-size: 12px">
        <b-col v-if="!check">
          <a href="/CheckList">
          <b-icon icon="card-checklist" font-scale="2"></b-icon>
            <br />ประเมิน
          </a>
        </b-col>
        <b-col v-if="check">
          <a>
          <b-icon icon="card-checklist" font-scale="2"></b-icon>
            <br /><p style="color:red;">วันนี้ทำแล้ว</p>
          </a>
        </b-col>|
        <b-col v-if="!checkTimeline">
          <a href="/Timeline">
          <b-icon icon="clock" font-scale="2"></b-icon>
            <br />Timeline
          </a>
        </b-col>
        <b-col v-if="checkTimeline">
          <a>
          <b-icon icon="clock" font-scale="2"></b-icon>
            <br /><p style="color:red;">วันนี้ทำแล้ว</p>
          </a>
        </b-col>|
        <b-col>
          <a href="/Report">
          <b-icon icon="clipboard-data" font-scale="2"></b-icon>
            <br />Report
          </a>
        </b-col>
      </b-row>
      <hr />
      <b-row class="text-center" style="font-size: 12px">
        <b-col>
          <a href="/ShowTimeline">
           <b-icon icon="arrows-collapse" font-scale="2"></b-icon>
            <br />Show Timeline
          </a>
        </b-col>
        <b-col>
          <a href="/Home">
           <b-icon icon="house-door" font-scale="2"></b-icon>
            <br />Home
          </a>
        </b-col>
      </b-row>
    </b-modal>
  </div>
</template>
<style scoped>
h6 {
 font-weight: bold;
}
.sidebar {
  position: fixed;
  top: 0;

  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.sidebar-heading {
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.sidebar .nav-link.active {
  color: #020202;
}
.sidebar .nav-link {
  font-size: 0.75rem;
  font-weight: 500;
  color: #333;
}
a {
  font-size: 0.8rem;
  color: #000000;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
</style>
<style>
@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
  }
}
.tabs {
  text-align: center;
  width: 100%;
}
#leftform {
  text-align: left;
}
.tabs > ul > li {
  list-style: none;
  float: left;
  padding: 0px 20px;
}
.tabs > ul > li > a {
  background-color: #ddd;
  padding: 10px 40px;
}
</style>
<script>
import axios from 'axios' // api
export default {
  name: 'HeaderMenu',
  props: {
    info: {},
    page: ''
  },
  data () {
    return {
      check: false,
      checkTimeline: false,
      session: this.$session.getAll(),
      visible: false,
      dataListReady: true,
      branchName: ''
    }
  },
  async mounted () {
    await this.checkData()
    this.branchName = ''
    if (this.session.data[0].branch.name === '02.PKM') {
      this.branchName = 'สาขาปากเกร็ด - เมืองทอง'
    }
    if (this.session.data[0].branch.name === '01.CW') {
      this.branchName = 'สาขาแจ้งวัฒนะ'
    }
    if (this.session.data[0].branch.name === '03.NK') {
      this.branchName = 'สาขาหนองแขม'
    }
    if (this.session.data[0].branch.name === '04.BKN') {
      this.branchName = 'สาขาบางกอกน้อย'
    }
    if (this.session.data[0].branch.name === '05.HO') {
      this.branchName = 'สาขาสำนักงานใหญ่'
    }
    if (this.session.data[0].branch.name === '06.HD') {
      this.branchName = 'House D'
    }
    // this.getDataCountProspevtive()
    // this.getDataCountBookingAndInvoiceBackOrderAll()
    // this.getDataCountBookingAndInvoice()
    // this.getDataCountHot()
    // this.getGetProfile(this.info)
    // this.updateProfile()
    // this.getDataCountProspevtive()
    // this.getDataCountBookingAndInvoiceBackOrderAll()
    // this.getDataCountBookingAndInvoice()
    // this.getDataCountHot()
  },
  methods: {
    async checkData () {
      this.dataReady = false
      const url =
        `${this.$apiUrl}Timeline/Process/getdata`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          userName: this.session.data[0].username
        }
      }
      await axios
        .get(url, config)
        .then(async (response) => {
          let rs = response.data.data
          console.log(rs)
          if (rs === 'ไม่มีข้อมูล') {
            this.check = false
          } else {
            this.check = true
          }
        })

      const url1 =
        `${this.$apiUrl}Timeline/Process/getdataTimeline`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          userName: this.session.data[0].username
        }
      }
      await axios
        .get(url1, config1)
        .then(async (response) => {
          let rs = response.data.data
          console.log(rs)
          if (rs === 'ไม่มีข้อมูล') {
            this.checkTimeline = false
            this.dataReady = true
          } else {
            this.checkTimeline = true
            this.dataReady = true
          }
        })
    }
  }
}
</script>

<style scoped>
.red {
  color: red;
}
.yellow {
  color: #decf04;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.blue0483de {
  color: #0483de;
}
nav {
  display: flex;
  width: 100vw;
  height: 60px;
  margin: 0;
  padding: 20;
  background: #fff;
  border-bottom: solid 1px #e5e5e5;
}
</style>
