<template>
  <b-container>
      <b-card>
    <b-row class="justify-content-md-center">
        <b-col>
            <h5>สวัสดี</h5>
        </b-col>
    </b-row>
    <b-row class="justify-content-md-center">
        <b-col>
            <h5>คุณ {{session.data[0].name}}</h5>
        </b-col>
    </b-row>
    <b-row class="justify-content-md-center">
      <b-col>
          <b-avatar
            :src="session.data[0].line.pictureUrl"
            size="6rem"
          ></b-avatar>
      </b-col>
    </b-row>
    </b-card>
    <hr>
    <template v-if="!dataReady">
      <div class="text-center">
        <b-spinner label="Spinning"></b-spinner>
        <b-spinner type="grow" label="Spinning"></b-spinner>
        <b-spinner variant="primary" label="Spinning"></b-spinner>
        <b-spinner variant="primary" type="grow" label="Spinning"></b-spinner>
        <b-spinner variant="success" label="Spinning"></b-spinner>
        <b-spinner variant="success" type="grow" label="Spinning"></b-spinner>
      </div>
    </template>
    <template v-if="dataReady">
    <div class="row text-center">
        <div class="col-12">
            <h6>Menu</h6>
        </div>
    </div>
    <b-alert show variant="success" v-if="checkTimeline == true && check == true">วันนี้ภารกิจคุณ สำเร็จ แล้ว</b-alert>
    <b-alert show variant="danger" v-if="!checkTimeline">วันนี้คุณยังไม่ได้ทำ Timeline</b-alert>
    <b-alert show variant="danger" v-if="!check">วันนี้คุณยังไม่ได้ทำ แบบประเมิน</b-alert>
    <div class="row menu" v-if="session.data[0].level.name !== 'employee'">
        <div class="col-4 offset-lg-3 col-lg-1" v-if="!check"><img src="../assets/checkList.png" @click="goto('/checkList')" alt="checkList"><p @click="goto('/checkList')">ประเมิน</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" v-if="check"><img src="../assets/checkList.png" alt="checkList"><p style="color:red;">วันนี้ทำแล้ว</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" v-if="!checkTimeline"><img src="../assets/timeline2.png" @click="goto('/Timeline')" alt="TimeLine"><p @click="goto('/Timeline')">Timeline</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" v-if="checkTimeline"><img src="../assets/timeline2.png" alt="TimeLine"><p style="color:red;">วันนี้ทำแล้ว</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" ><img src="../assets/report.png" @click="goto('/Report')" alt="Report"><p @click="goto('/Report')">Report</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" ><img src="../assets/timeline.png" @click="goto('/ShowTimeline')" alt="ShowTimeline"><p @click="goto('/ShowTimeline')">Show Timeline</p></div>
        <!-- <div class="col-4 offset-lg-3 col-lg-1" ><img src="../assets/reportAll.png" alt="ReportAll"><p>Coming Soon..</p></div> -->
        <!-- <div class="col-4 offset-lg-3 col-lg-1" ><img src="../assets/reportAll.png" @click="goto('/ReportAll')" alt="ReportAll"><p @click="goto('/ReportAll')">Report All</p></div> -->
      </div>
    <div class="row menu" v-if="session.data[0].level.name == 'employee'">
        <div class="col-4 offset-lg-3 col-lg-1" v-if="!check"><img src="../assets/checkList.png" @click="goto('/checkList')" alt="checkList"><p @click="goto('/checkList')">ประเมิน</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" v-if="check"><img src="../assets/checkList.png" alt="checkList"><p style="color:red;">วันนี้ทำแล้ว</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" v-if="!checkTimeline"><img src="../assets/timeline2.png" @click="goto('/Timeline')" alt="TimeLine"><p @click="goto('/Timeline')">Timeline</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" v-if="checkTimeline"><img src="../assets/timeline2.png" alt="TimeLine"><p style="color:red;">วันนี้ทำแล้ว</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" ><img src="../assets/report.png" @click="goto('/Report')" alt="Report"><p @click="goto('/Report')">Report</p></div>
        <div class="col-4 offset-lg-3 col-lg-1" ><img src="../assets/timeline.png" @click="goto('/ShowTimeline')" alt="ShowTimeline"><p @click="goto('/ShowTimeline')">Show Timeline</p></div>
      </div>
    </template>
  </b-container>
</template>
<script>
import axios from 'axios' // api
// import XLSX from 'xlsx' // import xlsx
// import moment from 'moment'
export default {
  data () {
    return {
      check: false,
      checkTimeline: false,
      session: this.$session.getAll(),
      mainProps: {
        // blank: true,
        // blankColor: '#777',
        width: 175,
        height: 175,
        class: 'm1'
      },
      form: {
        userName: '',
        passWord: ''
      },
      dataReady: false
    }
  },
  async mounted () {
    // this.$session.destroy()
    this.checkData()
  },
  methods: {
    goto (url) {
      this.$router.push(url)
    },
    async checkData () {
      this.dataReady = false
      const url =
        `${this.$apiUrl}Timeline/Process/getdata`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          userName: this.session.data[0].username
        }
      }
      await axios
        .get(url, config)
        .then(async (response) => {
          let rs = response.data.data
          console.log(rs)
          if (rs === 'ไม่มีข้อมูล') {
            this.check = false
          } else {
            this.check = true
          }
        })

      const url1 =
        `${this.$apiUrl}Timeline/Process/getdataTimeline`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key':
            this.$apiToken
        },
        params: {
          userName: this.session.data[0].username
        }
      }
      await axios
        .get(url1, config1)
        .then(async (response) => {
          let rs = response.data.data
          console.log(rs)
          if (rs === 'ไม่มีข้อมูล') {
            this.checkTimeline = false
            this.dataReady = true
          } else {
            this.checkTimeline = true
            this.dataReady = true
          }
        })
    }
  }
}
</script>
<style scoped>
h6 {
 font-weight: bold;
}
h5 {
 font-weight: bold;
}
p {
 font-weight: bold;
}
.menu {
  padding: 0px 23px;
}
.menu > div.col-4 {
  padding: 6px;
}
.menu > div > img {
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
}
</style>
