<template>
  <b-container>
    <b-row class="justify-content-md-center">
      <b-col cols="12">
        <b-card class="form-update mb-8">
          <b-img v-bind="mainProps" src="https://firebasestorage.googleapis.com/v0/b/vgroup-honda.appspot.com/o/1.LOGO_VGROUP_HONDA_RED-01%20(1).png?alt=media&token=bca9873a-b0a3-4171-be46-a44ad24e45dc" rounded="circle" alt="Circle image"></b-img>
          <br />
          <div v-if="!dataReady">
            รอสักครู่นะ กำลังเตรียมข้อมูล....
            <br />
            <b-spinner
              style="width: 10rem; height: 10rem;"
              label="Large Spinner"
              variant="info"
            ></b-spinner>
          </div>
            <br />
            <br />
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <h1 class="h5 mb-3 font-weight-normal">Zoom</h1>
            <hr />
            <label for="user" class="sr-only">Username</label>
            <input
              name="UserName"
              class="form-control"
              placeholder="Username"
              v-model="form.userName"
              required
              autofocus
            />
            <br />
            <label for="pass" class="sr-only">Password</label>
            <input
              type="password"
              name="PassWord"
              v-model="form.passWord"
              class="form-control"
              placeholder="Password"
              required
            />
            <hr />
            <button
              class="btn btn-lg btn-primary btn-block btn-rounded"
              @click="onSubmit()"
            >
              Sign in
            </button>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios' // api
// import XLSX from 'xlsx' // import xlsx
// import moment from 'moment'
export default {
  data () {
    return {
      session: this.$session.getAll(),
      mainProps: {
        // blank: true,
        // blankColor: '#777',
        width: 175,
        height: 175,
        class: 'm1'
      },
      form: {
        userName: '',
        passWord: ''
      },
      dataReady: true
    }
  },
  async mounted () {
    this.$session.destroy()
  },
  methods: {
    async onSubmit () {
      this.dataReady = false
      const url = `${this.$apiUrlHRM}employee-getLoginTimeLine?`
      // const url = 'http://localhost:81/Api/vgroupl_api/v1/Zoom/Login/getData?'
      let config = {
        params: {
          userName: this.form.userName,
          passWord: this.form.passWord
        }
      }
      await axios
        .get(url, config)
        .then(response => {
          let rs = response.data
          if (rs.length > 0) {
            this.dataReady = true
            this.$swal('เรียบร้อย', 'บันทึกข้อมูลเรียบร้อย', 'success')
            this.$session.start()
            this.$session.set('data', response.data)
            this.$router.push('/Home')
          } else {
            this.$swal('Error', 'คุณไม่มีสิทธิ์เข้าระบบนี้', 'error')
            this.dataReady = true
          }
        })
        .catch(error => {
          this.$swal('Error', 'คุณไม่มีสิทธิ์เข้าระบบนี้', 'error')
          this.dataReady = true
          console.log(error)
          this.errored = true
        })
    }
  }
}
</script>
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#danger {
  color: red;
}
#login {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}
</style>
