<template>
  <b-container>
    <HeaderMenu :info="session.data[0]" :page="pageName"></HeaderMenu>
    <br />
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-header">ค้นหา</div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <date-picker
                  v-model="monthvalue"
                  @change="
                    gettablemonth()
                  "
                  format="MM/YYYY"
                  style="width: 100%"
                  type="month"
                  placeholder="รายเดือน"
                ></date-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">รายงานรายเดือน</div>
      <div class="card-text">
        <h4>{{ datevalue1 }}</h4>
        <hr />
        <b-container class="bv-example-row">
          <b-row>
            <b-col cols="3"><b>วันที่</b></b-col>
            <b-col><b>แบบประเมิน</b></b-col>
            <b-col><b>TimeLine</b></b-col>
          </b-row>
          <hr />
          <b-row>
            <b-col cols="3">
              <p v-for="(row, index) in ass" :key="index">
                <template v-if="row">
                  {{ index }}
                  <hr />
                </template>
              </p>
            </b-col>
            <b-col
              ><p v-for="(row, index) in ass" :key="index">
                <template v-if="row">
                  <p v-if="row === 'ยังไม่ได้ทำ'" style="color: red">
                    {{ row }}
                  </p>
                  <p v-if="row !== 'ยังไม่ได้ทำ'" style="color: green">
                    {{ row }}
                  </p>
                  <hr />
                </template></p
            ></b-col>
            <b-col
              ><p v-for="(row, index) in timeline" :key="index">
                <template v-if="row">
                  <p v-if="row === 'ยังไม่ได้ทำ'" style="color: red">
                    {{ row }}
                  </p>
                  <p v-if="row !== 'ยังไม่ได้ทำ'" style="color: green">
                    {{ row }}
                  </p>
                  <hr />
                </template></p
            ></b-col>
          </b-row>
        </b-container>
      </div>
    </div>
  </b-container>
</template>
<script>
import HeaderMenu from './HeaderMenu.vue'
import axios from 'axios' // api
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import 'vue2-datepicker/locale/th'
export default {
  components: {
    DatePicker,
    HeaderMenu: HeaderMenu
  },
  data () {
    return {
      pageName: 'แบบประเมิน',
      datevalue: new Date(),
      datevalue1: '',
      session: this.$session.getAll(),
      dateMonth: new Date().toISOString().substr(0, 7),
      monthvalue: null,
      ass: [],
      timeline: [],
      tale: [],
      dataTable: [
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9',
        '10',
        '11',
        '12',
        '13',
        '14',
        '15',
        '16',
        '17',
        '18',
        '19',
        '20',
        '21',
        '22',
        '23',
        '24',
        '25',
        '26',
        '27',
        '28',
        '29',
        '30',
        '31',
        '32'
      ]
    }
  },
  async mounted () {
    await this.gettablemonth()
    await this.map()
  },
  methods: {
    async gettablemonth () {
      let date
      if (this.monthvalue) {
        date = new Date(Number(this.monthvalue))
      } else {
        date = new Date()
      }
      const year = date.getFullYear()
      const month = date.getMonth() + 1
      var b = ''
      switch (month) {
        case 1: b = 'January'
          break
        case 2: b = 'February'
          break
        case 3: b = 'March'
          break
        case 4: b = 'April'
          break
        case 5: b = 'May'
          break
        case 6: b = 'June'
          break
        case 7: b = 'July'
          break
        case 8: b = 'August'
          break
        case 9: b = 'September'
          break
        case 10: b = 'October'
          break
        case 11: b = 'November'
          break
        case 12: b = 'December'
          break
      }
      this.datevalue1 = b + ' ' + year
      const url = `${this.$apiUrl}Timeline/Process/getdataMonthYear`
      let config = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          userName: this.session.data[0].username,
          year: year,
          month: month
        }
      }
      await axios.get(url, config).then(async (response) => {
        let rs = response.data
        var day = this.dataTable.length
        var day2 = rs
        this.ass = []
        var i = 1
        for (i; i < day; i++) {
          if (day2.length) {
            for (var s = 0; s < day2.length; s++) {
              var d = day2[s]
              if (i === d.DaydatePerform) {
                this.ass[i] = 'ทำแล้ว'
              }
            }
            if (this.ass[i] !== 'ทำแล้ว') {
              this.ass[i] = 'ยังไม่ได้ทำ'
            }
            //   this.ass[i] = 'ยังไม่ได้ทำ'
          } else {
            this.ass[i] = 'ยังไม่ได้ทำ'
          }
        }

        //   console.log(rs)
      })

      const url1 = `${this.$apiUrl}Timeline/Process/getdataMonthYearTimeline`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          userName: this.session.data[0].username,
          year: year,
          month: month
        }
      }
      await axios.get(url1, config1).then(async (response) => {
        let rs = response.data
        var day = this.dataTable.length
        var day2 = rs
        this.timeline = []
        var i = 1
        for (i; i < day; i++) {
          if (day2.length > 0) {
            for (var s = 0; s < day2.length; s++) {
              var d = day2[s]
              if (i === d.DaydatePerform) {
                this.timeline[i] = 'ทำแล้ว'
              }
            }
            if (this.timeline[i] !== 'ทำแล้ว') {
              this.timeline[i] = 'ยังไม่ได้ทำ'
            }
          } else {
            this.timeline[i] = 'ยังไม่ได้ทำ'
          }
        }

        //   console.log(rs)
      })
    },
    map () {
      console.log('ass', this.ass)
      console.log('timeline', this.timeline)
    }
  }
}
</script>
