<template>
  <b-container>
      <HeaderMenu :info="session.data[0]" :page="pageName"></HeaderMenu>
    <br />
      <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-header">ค้นหา</div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <date-picker
                  v-model="monthvalue"
                  @change="
                    gettablemonth()
                  "
                  format="MM/YYYY"
                  style="width: 100%"
                  type="month"
                  placeholder="รายเดือน"
                ></date-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <timeline timeline-theme="lightblue" class="text-left">
          <timeline-title>{{datevalue1}}</timeline-title>
          <timeline-item v-for="(row, index) in timeline" :key="index">
            <img :src="session.data[0].line.pictureUrl" class="icon-heart" slot="others">
            <p>{{row.date}}</p>
            <p class="append">Timelime</p>
            <p class="append1" style="font-weight: bold;">การเดินทาง ขามา  {{row.goto}}</p>
            <p class="append1">{{row.dataTimeline}}</p>
            <p class="append1" style="font-weight: bold;">การเดินทาง ขากลับ  {{row.goback}}</p>
            <p class="append1">{{row.dataTimeline1}}</p>
          </timeline-item>
        </timeline>
  </b-container>
</template>

<script>
import { Timeline, TimelineItem, TimelineTitle } from 'vue-cute-timeline'
import HeaderMenu from './HeaderMenu.vue'
import axios from 'axios' // api
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'
import 'vue2-datepicker/locale/th'
export default {
  components: {
    DatePicker,
    Timeline,
    TimelineItem,
    TimelineTitle,
    HeaderMenu: HeaderMenu
  },
  data () {
    return {
      pageName: 'แบบประเมิน',
      datevalue: new Date(),
      datevalue1: '',
      session: this.$session.getAll(),
      dateMonth: new Date().toISOString().substr(0, 7),
      monthvalue: null,
      ass: [],
      timeline: [],
      tale: [],
      dataTable: [
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
        '8',
        '9',
        '10',
        '11',
        '12',
        '13',
        '14',
        '15',
        '16',
        '17',
        '18',
        '19',
        '20',
        '21',
        '22',
        '23',
        '24',
        '25',
        '26',
        '27',
        '28',
        '29',
        '30',
        '31',
        '32'
      ]
    }
  },
  async mounted () {
    await this.gettablemonth()
  },
  methods: {
    async gettablemonth () {
      let date
      if (this.monthvalue) {
        date = new Date(Number(this.monthvalue))
      } else {
        date = new Date()
      }
      const year = date.getFullYear()
      const month = date.getMonth() + 1
      var b = ''
      switch (month) {
        case 1: b = 'January'
          break
        case 2: b = 'February'
          break
        case 3: b = 'March'
          break
        case 4: b = 'April'
          break
        case 5: b = 'May'
          break
        case 6: b = 'June'
          break
        case 7: b = 'July'
          break
        case 8: b = 'August'
          break
        case 9: b = 'September'
          break
        case 10: b = 'October'
          break
        case 11: b = 'November'
          break
        case 12: b = 'December'
          break
      }
      this.datevalue1 = b + ' ' + year

      const url1 = `${this.$apiUrl}Timeline/Process/getdataMonthYearTimeline`
      let config1 = {
        headers: {
          'Content-Type': 'application/json',
          'Application-Key': this.$apiToken
        },
        params: {
          userName: this.session.data[0].username,
          year: year,
          month: month
        }
      }
      await axios.get(url1, config1).then(async (response) => {
        let rs = response.data
        var i = 0
        this.timeline = []
        console.log(rs)
        for (i; i < rs.length; i++) {
          var d = rs[i]
          var s = {}
          s.date = d.datePerform2
          var no52 = ''
          var no53 = ''
          if (d.no5_2 === null) {
            no52 = ''
          } else {
            no52 = ' -> ' + d.no5_2
          }
          if (d.no5_3 === null) {
            no53 = ''
          } else {
            no53 = ' -> ' + d.no5_3
          }
          s.dataTimeline = d.no5_1 + no52 + no53
          var no521 = ''
          var no531 = ''
          if (d.no5_21 === null) {
            no521 = ''
          } else {
            no521 = ' -> ' + d.no5_21
          }
          if (d.no5_31 === null) {
            no531 = ''
          } else {
            no531 = ' -> ' + d.no5_31
          }
          s.dataTimeline1 = d.no5_11 + no521 + no531
          var no11 = ''
          var no12 = ''
          if (d.no1_1 === null) {
            no11 = ''
          } else {
            no11 = d.no1_1
          }
          if (d.no2_1 === null) {
            no12 = ''
          } else {
            no12 = d.no2_1
          }
          s.goto = d.no1 + ' ' + no11 || ''
          s.goback = d.no2 + ' ' + no12 || ''
          this.timeline.push(s)
        }
        console.log(this.timeline)
        // var day = this.dataTable.length
        // var day2 = rs
        // this.timeline = []
        // var i = 1
        // for (i; i < day; i++) {
        //   if (day2.length > 0) {
        //     for (var s = 0; s < day2.length; s++) {
        //       var d = day2[s]
        //       if (i === d.DaydatePerform) {
        //         this.timeline[i] = 'ทำแล้ว'
        //       }
        //     }
        //     if (this.timeline[i] !== 'ทำแล้ว') {
        //       this.timeline[i] = 'ยังไม่ได้ทำ'
        //     }
        //   } else {
        //     this.timeline[i] = 'ยังไม่ได้ทำ'
        //   }
        // }

        //   console.log(rs)
      })
    }
  }
}
</script>

<style>
  .append {
    font-size: 1em;
    margin-top: 3px;
    color: #646C7C;
  }
  .append1 {
    font-size: .8em;
    margin-top: 3px;
    color: #646C7C;
  }
  a {
    color: #bf6dcf;
    font-weight: bold;
    text-decoration: none;
  }
  .icon-heart {
    width: 20px;
  }
  .demo {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1rem;
  }
  .demo-theme.dark {
    background: #3a3939;
  }
  .github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
</style>
