<template>
  <b-container>
    <HeaderMenu :info="session.data[0]" :page="pageName"></HeaderMenu>
    <br />
    <b-card>
      <form>
        <b-row class="text-left">
          <b-col cols="12">
            <b-form-group
              label="1.การเดินทาง ขามา"
            >
             <b-form-select v-model="selected1" :options="options1" @change="select1Event()"></b-form-select>
             <hr v-if="selected1 !== 'รถส่วนตัว' && selected1 !== ''">
             <b-form-input v-if="selected1 !== 'รถส่วนตัว' && selected1 !== ''" v-model="selected11" :placeholder="textselected1"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <label>1.1 ไทม์ไลน์ แต่ละวันของท่านระหว่างเดินทางมาทำงาน และเดินทางกลับจากที่ทำงานท่านแวะจุดพื้นที่ใดบ้าง รบกวนแจ้งรายละเอียด เช่น ตลาดนัด…. ,ห้างสรรพสินค้า,… หรืออื่นๆ (ขามา):</label>
              <b-form-group
                label="สถานที่ ที่ 1:"
                label-for="input-1"
                description="เมื่อไม่ได้ไปไหน กรุณาระบบด้วยครับ"
              >
                <b-form-input
                  v-model="selected5.no1"
                  placeholder="สถานที่ ที่ 1 ระบุ………"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="สถานที่ ที่ 2:"
              >
                <b-form-input
                  v-model="selected5.no2"
                  placeholder="สถานที่ ที่ 2 ระบุ………"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="สถานที่ ที่ 3:"
              >
                <b-form-input
                  v-model="selected5.no3"
                  placeholder="สถานที่ ที่ 3 ระบุ………"
                ></b-form-input>
              </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-form-group
              label="2.การเดินทาง ขากลับ"
            >
             <b-form-select v-model="selected2" :options="options1" @change="select2Event()"></b-form-select>
             <hr v-if="selected2 !== 'รถส่วนตัว' && selected2 !== ''">
             <b-form-input v-if="selected2 !== 'รถส่วนตัว' && selected2 !== ''" v-model="selected21" :placeholder="textselected2"></b-form-input>
            </b-form-group>
          </b-col>
          <b-col cols="12">
            <label>2.1 ไทม์ไลน์ แต่ละวันของท่านระหว่างเดินทางมาทำงาน และเดินทางกลับจากที่ทำงานท่านแวะจุดพื้นที่ใดบ้าง รบกวนแจ้งรายละเอียด เช่น ตลาดนัด…. ,ห้างสรรพสินค้า,… หรืออื่นๆ (ขากลับ):</label>
              <b-form-group
                label="สถานที่ ที่ 1:"
                label-for="input-1"
                description="เมื่อไม่ได้ไปไหน กรุณาระบบด้วยครับ"
              >
                <b-form-input
                  v-model="selected51.no1"
                  placeholder="สถานที่ ที่ 1 ระบุ………"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="สถานที่ ที่ 2:"
              >
                <b-form-input
                  v-model="selected51.no2"
                  placeholder="สถานที่ ที่ 2 ระบุ………"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label="สถานที่ ที่ 3:"
              >
                <b-form-input
                  v-model="selected51.no3"
                  placeholder="สถานที่ ที่ 3 ระบุ………"
                ></b-form-input>
              </b-form-group>
          </b-col>
          <b-col cols="12">
            <b-button block variant="success" @click="addData()">บันทึก Timeline</b-button>
          </b-col>
        </b-row>
      </form>
    </b-card>
  </b-container>
</template>
<script>
import HeaderMenu from './HeaderMenu.vue'
import axios from 'axios' // api
export default {
  components: {
    HeaderMenu: HeaderMenu
  },
  data () {
    return {
      pageName: 'Timeline',
      selected1: '',
      selected11: '',
      textselected1: '',
      textselected2: '',
      selected2: '',
      selected21: '',
      options1: [
        { value: 'รถส่วนตัว', text: 'รถส่วนตัว' },
        { value: 'รถเมล์', text: 'รถเมล์' },
        { value: 'วินมอเตอร์ไซค์', text: 'วินมอเตอร์ไซค์' },
        { value: 'รถสองแถว', text: 'รถสองแถว' },
        { value: 'รถตู้', text: 'รถตู้' },
        { value: 'taxi', text: 'taxi' },
        { value: 'อื่นๆ', text: 'อื่นๆ' }
      ],
      session: this.$session.getAll(),
      selected5: {
        no1: '',
        no2: '',
        no3: ''
      },
      selected51: {
        no1: '',
        no2: '',
        no3: ''
      }
    }
  },
  async mounted () {
    // this.$session.destroy()
    this.getNow()
  },
  methods: {
    select1Event () {
      if (this.selected1 === 'รถส่วนตัว') {
        this.selected11 = ''
      }
      if (this.selected1 === 'รถเมล์') {
        this.textselected1 = 'รถเมล์ สาย...'
      }
      if (this.selected1 === 'วินมอเตอร์ไซค์') {
        this.textselected1 = 'วินมอเตอร์ไซค์ เบอร์...'
      }
      if (this.selected1 === 'รถสองแถว') {
        this.textselected1 = 'รถสองแถว เบอร์...'
      }
      if (this.selected1 === 'รถตู้') {
        this.textselected1 = 'รถตู้ สาย ...เบอร์...'
      }
      if (this.selected1 === 'taxi') {
        this.textselected1 = 'taxi ทะเบียน...'
      }
      if (this.selected1 === 'อื่นๆ') {
        this.textselected1 = 'อื่นๆ...'
      }
    },
    select2Event () {
      if (this.selected2 === 'รถส่วนตัว') {
        this.selected21 = ''
      }
      if (this.selected2 === 'รถเมล์') {
        this.textselected2 = 'รถเมล์ สาย...'
      }
      if (this.selected2 === 'วินมอเตอร์ไซค์') {
        this.textselected2 = 'วินมอเตอร์ไซค์ เบอร์...'
      }
      if (this.selected2 === 'รถสองแถว') {
        this.textselected2 = 'รถสองแถว เบอร์...'
      }
      if (this.selected2 === 'รถตู้') {
        this.textselected2 = 'รถตู้ สาย ...เบอร์...'
      }
      if (this.selected2 === 'taxi') {
        this.textselected2 = 'taxi ทะเบียน...'
      }
      if (this.selected2 === 'อื่นๆ') {
        this.textselected2 = 'อื่นๆ...'
      }
    },
    getNow () {
      const today = new Date()
      // console.log(today)
      const date =
        today.getFullYear() +
        '' +
        (today.getMonth() + 1) +
        '' +
        today.getDate()
      const time =
        today.getHours() + '' + today.getMinutes() + '' + today.getSeconds()
      const dateTime = date + '' + time
      this.dateTime = dateTime
    },
    addData () {
      if (
        this.selected5.no1 !== '' && this.selected1 !== '' && this.selected2 !== '' && this.selected51.no1 !== ''
      ) {
        this.$swal({
          title: 'ตรวจสอบก่อนเพิ่มข้อมูล',
          text: 'ตรวจสอบข้อมูลของท่าน ท่านต้องการเพิ่มหรือไม่',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#dedede',
          confirmButtonText: 'เพิ่มข้อมูล',
          cancelButtonText: 'ยกเลิก และตรวจสอบ!'
        }).then(result => {
          const url = `${this.$apiUrl}Timeline/Process/addDataTimeline`
          let config = {
            headers: {
              'Content-Type': 'application/json',
              'Application-Key': this.$apiToken
            }
          }
          let dt = {
            'id': this.dateTime,
            'userName': this.session.data[0].username,
            'staffName': this.session.data[0].name,
            'branchName': this.session.data[0].branch.name,
            'department': this.session.data[0].department.name,
            'no1': this.selected1,
            'no1_1': this.selected11,
            'no2': this.selected2,
            'no2_1': this.selected21,
            'no5_1': this.selected5.no1,
            'no5_2': this.selected5.no2,
            'no5_3': this.selected5.no3,
            'no5_11': this.selected51.no1,
            'no5_21': this.selected51.no2,
            'no5_31': this.selected51.no3
          }
          axios
            .post(url, dt, config)
            .then(response => {
              this.$swal('เรียบร้อย', response.data.message, 'success')
              this.$router.push('/Home')
            })
        })
      } else {
        this.dataReady = true
        this.$swal('ผิดพลาด', 'กรุณาใส่ข้อมูลให้ครบถ้วน', 'error')
      }
    }
  }
}
</script>
